
@{
    ViewData["Title"] = "agri";
}

<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Nông nghiệp xanh</h1>
                    <span class="color-text-a">
                        ỨNG DỤNG CÔNG NGHỆ TRÍ TUỆ NHÂN TẠO VÀ KHOA HỌC KỸ THUẬT VÀO NÔNG NGHIỆP GIÚP NÔNG DÂN NÂNG CAO HIỆU QUẢ TRỒNG TRỌT
                    </span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="~/home">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Liên hệ
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->